.faq__question-list {
  max-width: 970px;
  margin: 0 auto;
  margin-top: 50px;
}

.faq h3 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;

  @media (max-width: $mobile-max-width) {
    font-size: 16px;
    line-height: 22px;
  }
}

.faq li {
  padding: 44px 50px 42px 40px;
  border: 1px solid $accented-line;

  @media (max-width: $tablet-max-width) {
    padding: 44px 50px 43px 48px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 25px;
  }
}

.faq li:not(:first-child) {
  border-top: none;
}

.faq__question-head {
  display: flex;
  justify-content: space-between;
}

.faq__answer {
  display: none;
}

.no-js .faq__answer,
.accordeon-item--open .faq__answer {
  display: block;
  margin-top: 7px;
  padding-left: 10px;
  max-width: 527px;

  @media (max-width: $tablet-max-width) {
    padding-left: 0;
    margin-top: 25px;
    max-width: 540px;
  }
}

.faq_accordeon-icon {
  transform: rotate(180deg);
}

.no-js .faq_accordeon-icon,
.accordeon-item--open .faq_accordeon-icon {
  transform: rotate(0deg);
}

.faq__answer p {
  font-weight: 400;
  @media (max-width: $mobile-max-width) {
    font-size: 14px;
    line-height: 20px;
  }
}
