.faq__question-list {
  max-width: 970px;
  margin: 0 auto;
  margin-top: 50px;

  @media (max-width: $mobile-max-width) {
    margin-top: 28px;
  }
}

.faq li {
  padding: 44px 50px 42px 40px;
  border: 1px solid $accented-line;

  @media (max-width: $tablet-max-width) {
    padding: 44px 50px 43px 48px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 14px 25px 20px 23px;

    &:not(:first-child) {
      padding-top: 17px;
    }
  }
}

.faq li:not(:first-child) {
  border-top: none;
}

.faq__question-head {
  display: flex;
  justify-content: space-between;
}

.faq__question-head h3 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;

  br {
    display: none;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 16px;
    line-height: 22px;

    br {
      display: initial;
    }
  }
}

.faq__question-head button {
  @media (max-width: $mobile-max-width) {
    align-self: start;
    padding-top: 7px;
  }
}

.faq__answer {
  display: none;
}

.no-js .faq__answer,
.accordeon-item--open .faq__answer {
  display: block;
  margin-top: 7px;
  padding-left: 10px;
  max-width: 527px;

  @media (max-width: $tablet-max-width) {
    padding-left: 0;
    margin-top: 25px;
    max-width: 540px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 15px;
    max-width: 205px;
  }
}

.faq__accordeon-icon {
  transform: rotate(180deg);
}

.no-js .faq__accordeon-icon,
.accordeon-item--open .faq__accordeon-icon {
  transform: rotate(0deg);
}

.faq__answer p {
  font-weight: 400;

  @media (max-width: $mobile-max-width) {
    font-size: 14px;
    line-height: 20px;
  }
}
