.filter-form__close-button {
  display: none;
}

.page--filter-open .filter-form__close-button {
  @media (max-width: $tablet-max-width) {
    display: block;
    position: absolute;
    right: -25px;
    top: -20px;
  }
  
  @media (max-width: $mobile-max-width) {
    right: -10px;
    top: -17px;
  }
}

// показ формы здесь
.filter-form {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.no-js .filter-form {
  @media (max-width: $tablet-max-width) {
    display: block;
    max-width: 422px;
    margin: 0 auto;
  }
}

.page--filter-open .filter-form {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $background-inversion;
  overflow: auto;

  @media (max-width: $tablet-max-width) {
    padding: 0 25px;
    padding-top: 70px;
  }
  // padding: 0 25px;
}

.page--filter-open .filter-form__close-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.page--filter-open .filter-form__body {
  // border: 1px solid black;
  position: relative;
  @media (max-width: $tablet-max-width) {
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    max-width: 422px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 8px;
  }
}

.filter-form__fieldsets {
  margin-bottom: 30px;
  @media (max-width: $tablet-max-width) {
    margin-bottom: 35px;
  }

  @media (max-width: $tablet-max-width) {
    margin-bottom: 30px;
  }
}

.filter-form fieldset {
  margin: 0;
  padding: 25px 25px 24px 24px;
  border: 1px solid $accented-line;

  @media (max-width: $tablet-max-width) {
    padding: 34px 35px 36px 28px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 25px 22px 24px 20px;
  }

  &:not(:first-child) {
    border-top: none;
  }
}

.filter-form__fieldset-icon {
  transform: rotate(180deg);
}

.no-js .filter-form__fieldset-icon,
.filter-form__fieldset--open .filter-form__fieldset-icon {
  transform: rotate(0deg);
}

.no-js .filter-form fieldset,
.page--filter-open .filter-form fieldset {
  border: none;
  border-bottom: 1px solid $accented-line;
}

.filter-form__fieldset-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;

  @media (max-width: $tablet-max-width) {
    font-size: 18px;
    line-height: 23px;
  }
}

.filter-form__fieldset-control--collection {
  @media (max-width: $tablet-max-width) {
    margin-top: -2px;
  }
}

.filter-form__input-list {
  display: none;
  margin-top: 25px;
  padding-left: 35px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;

  @media (max-width: $tablet-max-width) {
    padding-left: 40px;
    font-size: 16px;
    line-height: 21px;
  }
}

.filter-form__input-list--range {
  position: relative;
  padding-left: 0;

  @media (max-width: $tablet-max-width) {
    margin-top: 30px;
    padding-left: 0;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 33px;
  }
}

.no-js .filter-form__input-list,
.filter-form__fieldset--open .filter-form__input-list {
  display: block;
}

.filter-form__input-item:not(:last-child) {
  margin-bottom: 12px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 16px;
  }
}

.filter-form__input-item input[type="checkbox"] {
  @include visually-hidden;
}

input[type="checkbox"] + label {
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    left: -25px;
    border: 1px solid $accented-line;
  }

  @media (max-width: $tablet-max-width) {
    &::before {
      width: 18px;
      height: 18px;
      left: -30px;
    }
  }

  &:hover,
  &:focus {
    color: $accented-line;
    text-decoration: underline;
  }

  &:active {
    color: $inactive-text;
    text-decoration: none;
  }
}

input[type="checkbox"]:checked + label {
  &::before {
    background-color: $background-accented;
  }
}

.filter-form__range {
  height: 1px;
  position: relative;
}

.filter-form__total-line {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid $desert-storm;
}

.filter-form__selected-line {
  position: absolute;
  content: "";
  top: 0;
  left: 45px;
  width: 110px;
  height: 1px;
  border-top: 1px solid $accented-line;

  @media (max-width: $tablet-max-width) {
     left: 65px;
  width: 180px;
  }


  @media (max-width: $mobile-max-width) {
    left: 45px;
    width: 130px;
  }
}

.filter-form__range-toggle {
  position: absolute;
  top: -7px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $background-accented;

  @media (max-width: $tablet-max-width) {
    width: 18px;
    height: 18px;
  }
}

.filter-form__range-toggle--min {
  left: 45px;

  @media (max-width: $tablet-max-width) {
    left: 55px;
  }

  @media (max-width: $mobile-max-width) {
    left: 30px;
  }
}

.filter-form__range-toggle--max {
  left: 150px;

  @media (max-width: $tablet-max-width) {
    left: 230px;
  }

  @media (max-width: $mobile-max-width) {
    left: 168px;
  }
}

input[type="number"] {
  border: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;

  @media (max-width: $tablet-max-width) {
    font-size: 16px;
    line-height: 21px;
  }
}

.filter-form__range-field {
  margin-top: 12px;
  display: grid;
  grid-template-columns: 99px 99px;
  @media (max-width: $tablet-max-width) {
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
    // column-gap: 70px;
  }
  @media (max-width: $mobile-max-width) {
    column-gap: 35px;
  }
}

.filter-form__range-field label {
  // justify-self: center;
  display: inline-flex;
  align-items: center;
  padding-left: 38px;

  @media (max-width: $tablet-max-width) {
    padding-left: 40px;
  }
  @media (max-width: $mobile-max-width) {
    padding-left: 22px;
  }
}

.filter-form__range-field input {
  width: 60px;
}

.filter-form__buttons {
  @media (max-width: $tablet-max-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.filter-form__button {
  margin-bottom: 25px;

  @media (max-width: $tablet-max-width) {
    max-width: 362px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: $mobile-max-width) {
    margin-bottom: 20px;
    max-width: 230px;
  }
}
