.no-js header {
  @media (max-width: $tablet-max-width) {
    background-color: $background-accented;
  }
}

.page--menu-open header {
  @media (max-width: $tablet-max-width) {
    background-color: $background-accented;
    height: 100vh;
  }
}

.header__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "a b c"
    "d d d"
    "e e e"
    "f f f";
  color: $text;
}

.page--menu-open .header__container,
.no-js .header__container {
  @media (max-width: $tablet-max-width) {
    color: $inversion-text;
    padding-bottom: 50px;
  }
}

.header__menu-button {
  display: none;

  @media (max-width: $tablet-max-width) {
    display: block;
    grid-area: a;
    justify-self: start;
    align-self: center;
    margin-top: 8px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 0;
  }
}

.header__menu-icon {
  stroke: currentColor;

  &:hover {
    stroke: $icon-color-accented;
  }
}

.no-js .header__menu-icon,
.page--menu-open .header__menu-icon {
  &:hover {
    stroke: $icon-color;
  }
}

.header_search {
  grid-area: a;
  margin-top: 33px;
  margin-bottom: 50px;
  justify-self: start;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.page--menu-open .header_search,
.no-js .header_search {
  @media (max-width: $tablet-max-width) {
    display: flex;
    grid-area: d;
    margin-top: 15px;
    margin-bottom: 35px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

.header__logo {
  grid-area: b;
  margin-top: 30px;
  padding-bottom: 19px;

  @media (max-width: $mobile-max-width) {
    margin-top: 20px;
    padding-bottom: 15px;
  }
}

.header__logo-icon {
  fill: $accented-logo;
  width: 66px;
  height: 66px;

  @media (max-width: $mobile-max-width) {
    width: 52px;
    height: 52px;
  }
}

.page--menu-open .header__logo-icon,
.no-js .header__logo-icon {
  @media (max-width: $tablet-max-width) {
    fill: currentColor;
  }
}

.header__user-menu {
  grid-area: c;
  margin-top: 42px;

  @media (max-width: $tablet-max-width) {
    margin-top: 54px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 37px;
  }
}

.header__site-nav {
  position: relative;
  grid-area: e;
  justify-self: center;
  padding-top: 12px;
  margin-left: -25px;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: calc(calc(105% - 100vw) / 2);
    width: 100vw;
    height: 1px;
    background-color: $header-decor-line;
  }

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.page--menu-open .header__site-nav,
.no-js .header__site-nav {
  &::before {
    display: none;
  }

  @media (max-width: $tablet-max-width) {
    display: flex;
    justify-self: start;
    margin-left: 0;
  }
}

.header__about {
  grid-area: f;
  display: none;
}

.page--menu-open .header__about,
.no-js .header__about {
  @media (max-width: $tablet-max-width) {
    margin-top: 15px;
    display: initial;
    justify-self: start;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 5px;
  }
}

.page--menu-open .header__login-mobile,
.no-js .header__login-mobile {
  @media (max-width: $tablet-max-width) {
    margin-top: 25px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 15px;
  }
}
