.link {
  display: block;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -4px;
    height: 2px;
    width: 0;
    background-color: currentColor;
    transform: translateX(-50%);
    transition: width 0.3s;
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
  }
}

.link--icon {
  @media (max-width: $tablet-max-width) {
    &::after {
      display: none;
    }
  }
}

.link--underline {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  // border-bottom: 1px solid $accented-line;

  &::before {
    position: absolute;
    content: "";
    // left: 50%;
    left: 0;
    bottom: -5px;
    height: 1px;
    width: 100%;
    background-color: currentColor;
    // transform: translateX(-50%);
    // transition: width 0.3s;
  }


  &:hover {
    color: $accented-text;
  }
}
