.page {
  position: relative;
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-family: $main-font;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: $text;
}

.page.page--menu-open,
.page.page--filter-open {
  @media (max-width: $tablet-max-width) {
    height: 100vh;
    overflow: hidden;
  }
}

.page.page__login-popup--open {
  height: 100vh;
  overflow: hidden;
}

.page__wrapper {
  margin: 0 auto;
  padding: 0 98px;

  @media (max-width: $tablet-max-width) {
    padding: 0 45px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0 15px;
  }
}

.page__wrapper--fix {
  @media (min-width: $desktop-size) {
    max-width: 1366px;
  }
}

.page__header {
  margin-bottom: 17px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 6px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 0;
  }
}

.page__section {
  margin-bottom: 119px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 68px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 60px;
  }
}

.page__section--faq {
  margin-bottom: 110px;
}

.page__section--follow {
  margin-bottom: 132px;
  padding-top: 10px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 80px;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 0;
    margin-bottom: 72px;
  }
}

.page__section h2 {
  margin-bottom: 17px;
  font-family: $secondary-font;
  font-size: 34px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
}

.page__section--slider h2 {
  margin-bottom: 0;

  @media (max-width: $tablet-max-width) {
    letter-spacing: normal;
  }
}

.page__section--follow h2 {
  margin-bottom: 30px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 15px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 17px;
  }
}

.page__section-head-link {
  margin-bottom: 64px;
  font-weight: 500;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 55px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 53px;
  }
}

.page__section-head-link--slider {
  margin-top: 17px;
  margin-bottom: 60px;

  @media (max-width: $tablet-max-width) {
    margin-top: 10px;
    margin-bottom: 55px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 18px;
    margin-bottom: 45px;
  }
}

.page__section--catalog {
  margin-bottom: 80px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 40px;
  }
}

.page__catalog {
  margin-bottom: 75px;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 65px;
  }
}
