.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 39px;
  margin-bottom: 30px;

  @media (max-width: $mobile-max-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    margin-bottom: 40px;
  }
}

.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.products__item:hover {
  h4 {
    color: $accented-text;
    text-decoration: underline;
  }

  p {
    color: $accented-text;
  }
}

.products__item img {
  width: 100%;
}

.products__img-wrapper {
  width: 100%;
}

.products__item-detail h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;

  @media (max-width: $tablet-max-width) {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 18px;
    margin-bottom: 6px;
  }
}

.products__item-detail p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.products__pagination {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 40px;

  @media (max-width: $mobile-max-width) {
    padding-top: 0;
  }
}

.products__pagination-prev {
  justify-self: start;

  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

.product__pagination-list {
  display: flex;
  justify-self: center;
  margin-left: -14px;

  @media (max-width: $mobile-max-width) {
    grid-column: 2;
    margin-left: -24px;
  }
}

.products__pagination-next {
  justify-self: end;

  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

.product__pagination-list li {
  margin-left: 14px;

  @media (max-width: $mobile-max-width) {
    margin-left: 24px;
  }
}
