.promo {
  min-height: 463px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo--index {
  min-height: 463px;

  @media (min-width: $desktop-size) {
    background-image: url("../img/main/head/promo-desktop@1x.jpg");
    @media (min-resolution: 2dppx) {
      background-image: url("../img/main/head/promo-desktop@2x.jpg");
    }
  }

  @media (max-width: $tablet-max-width) {
    background-image: url("../img/main/head/promo-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main/head/promo-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-max-width) {
    background-image: url("../img/main/head/promo-mobile@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main/head/promo-mobile@2x.jpg");
    }
  }
}

.promo--catalog {
  min-height: 261px;

  @media (min-width: $desktop-size) {
    background-image: url("../img/catalog/head/catalog-promo-desktop@1x.jpg");
    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/head/catalog-promo-desktop@2x.jpg");
    }
  }
  @media (max-width: $tablet-max-width) {
    background-image: url("../img/catalog/head/catalog-promo-tablet@1x.jpg");
    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/head/catalog-promo-tablet@2x.jpg");
    }
  }
  @media (max-width: $mobile-max-width) {
    padding: 0 35px;
    background-image: url("../img/catalog/head/catalog-promo-mobile@1x.jpg");
    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/head/catalog-promo-mobile@2x.jpg");
    }
  }
}

.promo--index h1 {
  font-family: $secondary-font;
  font-size: 45px;
  line-height: 50px;
  font-weight: 700;
  color: $inversion-text;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-max-width) {
    padding-right: 15px;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 5px;
    padding-left: 15px;
    font-size: 38px;
    line-height: 38px;
    // letter-spacing: normal;
  }

  & span {
    font-style: italic;
    font-size: 38px;
    line-height: 49px;
    font-weight: 400;

    @media (max-width: $tablet-max-width) {
      letter-spacing: normal;
    }
    @media (max-width: $mobile-max-width) {
      font-size: 34px;
      line-height: 44px;
    }
  }
}

.promo--catalog h1 {
  font-family: $secondary-font;
  font-size: 34px;
  line-height: 44px;
  color: $inversion-text;

  & span {
    font-style: italic;
    font-size: 22px;
    line-height: 29px;
    font-weight: 400;
  }
}
