.search-form {
  display: flex;
  height: 40px;

  &:focus-within {
    border-bottom: 2px solid $accented-line;
  }

  &:focus-within input::placeholder {
    color: $accented-text;
  }

  @media (max-width: $tablet-max-width) {
    width: 100%;
    border-radius: 21px;
    background-color: $search-form-bg;

    &:focus-within input::placeholder {
      color: transparent;
    }
  }
}

.search-form input {
  margin-left: 15px;
  order: 2;
  border: none;
  padding-right: 15px;
  color: currentColor;
  font-size: 14px;
  outline: none;
  background-color: transparent;

  &::placeholder {
    font-size: 14px;
    color: $inactive-text;
  }

  &:hover::placeholder {
    color: $accented-text;
  }

  @media (max-width: $tablet-max-width) {
    width: 100%;

    &::placeholder {
      color: transparent;
    }

    &:hover::placeholder {
      color: transparent;
    }
  }
}

.search-form button[type="submit"] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: currentColor;
  cursor: pointer;
  order: 1;

  & svg {
    fill: currentColor;
  }

  &:hover svg {
    fill: $icon-color-accented;
  }

  @media (max-width: $tablet-max-width) {
    margin-left: 12px;
  }
}

.page--menu-open .search-form button,
.no-js .search-form button {
  &:hover svg {
    fill: $icon-color;
  }
}
