.slider {
  text-align: center;
}

.slider__arrows {
  display: flex;
  justify-content: space-between;
  color: $accented-text;

  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

.slider__arrows svg {
  stroke: currentColor;
}

.slider__arrows:hover svg,
.slider__arrows:focus svg {
  stroke: $text;
}

.slider__img-wrapper {
  width: 100%;
}

.slider__img-wrapper img {
  width: 100%;
}

.slider__item h3 {
  margin-top: 22px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;

  @media (max-width: $mobile-max-width) {
    margin-top: 18px;
  }
}

.slider__item p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.slider__item a {
  &:hover {
    color: $accented-text;
  }
}

.slider__pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: -15px;

  @media (max-width: $tablet-max-width) {
    margin-top: 42px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 30px;
    margin-left: 0;
  }
}

.slider__pagination .swiper-pagination-bullet {
  display: inline-block;
  margin-left: 14px;
  color: $inactive-text;
  cursor: pointer;

  &:hover {
    color: $accented-text;
  }
}

.slider__pagination .swiper-pagination-bullet-active {
  color: $text;
}

.swiper-pagination-current {
  padding-right: 10px;
  font-weight: 500;
  color: $text;
}

.swiper-pagination-total {
  padding-left: 10px;
  font-weight: 500;
  color: $text;
}
