.user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 500;
}

.user-menu li {
  margin-left: 35px;
}

// .user-menu__cart {
//   & svg {
//     display: none;
//     @media (max-width: $tablet-max-width) {
//       display: initial;
//     }
//   }
//   & use {
//     stroke: currentColor;
//   }

//   &:hover use {
//     stroke: $icon-color-accented;
//   }

//   &:active use {
//     stroke: $icon-color-active;
//   }
// }

.user-menu__cart-icon {
  display: none;
  @media (max-width: $tablet-max-width) {
    display: initial;
    stroke: currentColor;
  }

  &:hover {
    stroke: $icon-color-accented;
  }

  &:active {
    stroke: $icon-color-active;
  }
}

.no-js .user-menu__cart-icon,
.page--menu-open .user-menu__cart-icon {
  &:hover {
    stroke: $icon-color;
  }
}

.user-menu__cart-text,
.user-menu__chart-count {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

// .user-menu__footer-icon {
//   width: 20px;
//   height: 20px;
// }
