$color-default-white: #ffffff;
$color-default-black: #000000;
$color-transparent: rgba(255, 255, 255, 0);
$color-transparent-15: rgba(255, 255, 255, 0.15);
$color-transparent-75: rgba(255, 255, 255, 0.75);
$wood-bark: #1d1613;
$medium-wood: #a87b62;
$zorba: #9b9997;
$desert-storm: #f0eae4;
$link-water: #d8d9da;
$seashell: #f6f5f4;
$text: $wood-bark;
$accented-text: $medium-wood;
$inversion-text: $color-default-white;
$head-about-text: $color-transparent-75;
$inactive-text: $zorba;
$accented-logo: $medium-wood;
$inversion-logo: $color-default-white;
$accented-line: $medium-wood;
$icon-color: $wood-bark;
$icon-color-accented: $medium-wood;
$icon-color-active: $zorba;
$background-accented: $medium-wood;
$background-inversion: $color-default-white;
$search-form-bg: $color-transparent-15;
$footer-background: $color-default-black;
$border-inversion: $color-default-white;
$blog-background: $desert-storm;
$range-inactive: $desert-storm;
$login-background: $desert-storm;
$header-decor-line: $seashell;
$login-label-line: $wood-bark;
$main-font: "Poppins", "Arial", sans-serif;
$secondary-font: "Cormorant Garamond", "Times New Roman", serif;
$fz-default: 16px;
$ff-rouble: "Rouble", "Arial", sans-serif;
$ff-placeholder: "Placeholder", "Arial", sans-serif;
$tf-default: ease;
$trans-default: 0.3s $tf-default;
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;
$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
